:root {
    --btn-height: 105px;
  }

.visual-story-points-jira {
    width: 100%;
    text-align: center;
}

.vspj-button {
    height: var(--btn-height);
    font-size: large;
}

.vspj-img{
    height: 50%;
}

