:root {
    --btn-height: 105px;
  }

.visual-story-points-jira {
    width: 100%;
    text-align: center;
}

.vspj-button {
    font-size: large;
    margin: 20px;
}

.vspj-img{
    height: 140px;
}

/*
.vspj-img-small-animal{
    height: 100px;
}

.vspj-img-medium-animal{
    height: 200px;
}

.vspj-img-big-animal{
    height: 200px;
}
*/